config/node-red/data/flows.json
[{"id":"e046b186.d02008","type":"tab","label":"GetCurrentTime","disabled":false,"info":""},{"id":"1231f516.22ed9b","type":"tab","label":"UnkownCommandFlow","disabled":false,"info":""},{"id":"a65a3a94.635d98","type":"tab","label":"Radio","disabled":false,"info":""},{"id":"7087edf3.06b33c","type":"tab","label":"Alarm and Timer","disabled":false,"info":""},{"id":"2abac43b.73256c","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"86964d6.3cc53b","type":"tab","label":"Lightcontrol","disabled":false,"info":""},{"id":"427a7696.d6c7a8","type":"tab","label":"AufpassModus","disabled":false,"info":""},{"id":"16cf607c.7854c8","type":"tab","label":"RuheModus","disabled":false,"info":""},{"id":"1a262e7f.a9d812","type":"tab","label":"RestartFlow","disabled":false,"info":""},{"id":"be3928dd.7d20d","type":"tab","label":"CheckForConnectionFlow","disabled":false,"info":""},{"id":"4acfd80d.a48d88","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5999adec.e962a4","type":"websocket-listener","path":"ws://rhasspy:12101/api/events/intent","wholemsg":"true"},{"id":"7ffb752e.52a1bc","type":"sqlitedb","db":"/data/sqlite/timer.db","mode":"RWC"},{"id":"f0cfe086.58cca","type":"mpd-server","host":"mpd","port":"6600"},{"id":"f80b985a.2ffa78","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5dc171a5.e285d8","type":"zigbee2mqtt-server","name":"","host":"mosquitto","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"15e2542a.a4b0fc","type":"function","z":"e046b186.d02008","name":"TimetoText","func":"var today = new Date();\nvar time = today.getHours() + \" Uhr \" + today.getMinutes();\nmsg = { payload: \"Es ist \" + time };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":140,"wires":[["418843d.705193c"]]},{"id":"34bd92c7.7f8a4e","type":"mqtt in","z":"e046b186.d02008","name":"","topic":"hermes/intent/GetTime","qos":"2","datatype":"json","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":360,"y":180,"wires":[["15e2542a.a4b0fc"]]},{"id":"20a0df07.c5bbf8","type":"inject","z":"e046b186.d02008","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":380,"y":120,"wires":[["15e2542a.a4b0fc"]]},{"id":"418843d.705193c","type":"http request","z":"e046b186.d02008","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":260,"wires":[[]]},{"id":"bb03af95.535b5","type":"mqtt in","z":"1231f516.22ed9b","name":"","topic":"hermes/nlu/intentNotRecognized","qos":"2","datatype":"json","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":430,"y":180,"wires":[["7a479c68.c9dc54"]]},{"id":"7a479c68.c9dc54","type":"function","z":"1231f516.22ed9b","name":"UnknownCommandMessage","func":"msg = { payload: \"Ich konnte dich nicht verstehen\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":180,"wires":[["4a71b59.843a8cc"]]},{"id":"4a71b59.843a8cc","type":"http request","z":"1231f516.22ed9b","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":180,"wires":[[]]},{"id":"37099153.cea5fe","type":"switch","z":"a65a3a94.635d98","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"StartRadio","vt":"str"},{"t":"eq","v":"StopRadio","vt":"str"},{"t":"eq","v":"NextRadio","vt":"str"},{"t":"eq","v":"PrevRadio","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1070,"y":480,"wires":[["662066d6.989f48"],["50c4049.493b47c"],["d5e23fa3.ebb8c"],["e0a6ed62.e089a"]]},{"id":"44c01fb6.28dc9","type":"mpd out","z":"a65a3a94.635d98","name":"","topic":"","server":"f0cfe086.58cca","x":1680,"y":460,"wires":[[]]},{"id":"b4e35915.2663c8","type":"function","z":"a65a3a94.635d98","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":380,"wires":[["44c01fb6.28dc9"]]},{"id":"50c4049.493b47c","type":"function","z":"a65a3a94.635d98","name":"off","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":460,"wires":[["44c01fb6.28dc9","6a0f4fa7.6115a8"]]},{"id":"d5e23fa3.ebb8c","type":"function","z":"a65a3a94.635d98","name":"next","func":"return msg = {payload : \"next\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":500,"wires":[["44c01fb6.28dc9"]]},{"id":"6a0f4fa7.6115a8","type":"function","z":"a65a3a94.635d98","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":440,"wires":[["44c01fb6.28dc9"]]},{"id":"662066d6.989f48","type":"function","z":"a65a3a94.635d98","name":"load","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":420,"wires":[["44c01fb6.28dc9","e58a2ff3.691f78"]]},{"id":"e58a2ff3.691f78","type":"function","z":"a65a3a94.635d98","name":"repeat","func":"return msg = {payload : \"repeat 1\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":400,"wires":[["b4e35915.2663c8","44c01fb6.28dc9"]]},{"id":"e0a6ed62.e089a","type":"function","z":"a65a3a94.635d98","name":"prev","func":"return msg = {payload : \"previous\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":540,"wires":[["44c01fb6.28dc9"]]},{"id":"d73f5b04.9b3e6","type":"websocket in","z":"a65a3a94.635d98","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":160,"y":480,"wires":[["ad86088b.488de"]]},{"id":"1840d0f4.d9f687","type":"function","z":"7087edf3.06b33c","name":"check timer and delete","func":"currentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\nfor(var i = 0; i < msg.payload.length; i += 1) {\n    \n    timerDate = new Date(msg.payload[i].year, (msg.payload[i].month - 1), msg.payload[i].day, (msg.payload[i].hour), msg.payload[i].minute, msg.payload[i].second);\n    timerDate.setMilliseconds(0);\n    timerReason = msg.payload[i].notification_reason;\n    \n    if(timerDate.getTime() == currentDate.getTime())\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    alarm: msg.payload[i].alarm,\n                    notification_reason: timerReason\n    };\n    \n    else if(timerDate < currentDate)\n    return msg = {  topic: \"DELETE FROM timer WHERE timer_id = \" + msg.payload[i].timer_id + \";\",\n                    notification: \"Vorhandener Teimer mit dem Grund\"+ timerReason +\" ist während des Neustarts abgelaufen.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;\nvar timerReason;","finalize":"","libs":[],"x":660,"y":100,"wires":[["11c94b06.1455d5","2068436.bc1f6bc"]]},{"id":"ae0bb62c.3efd28","type":"inject","z":"7087edf3.06b33c","name":"checking for timers","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm, notification as notification_reason FROM timer;","x":400,"y":300,"wires":[["11c94b06.1455d5"]]},{"id":"11c94b06.1455d5","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":660,"y":280,"wires":[["1840d0f4.d9f687","4f030fba.f4049"]]},{"id":"4f030fba.f4049","type":"switch","z":"7087edf3.06b33c","name":"check for notification","property":"notification","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":360,"wires":[["c25dafd2.c458a8"]]},{"id":"c2f96155.0480e8","type":"switch","z":"7087edf3.06b33c","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"setAlarm","vt":"str"},{"t":"eq","v":"setTimer","vt":"str"},{"t":"eq","v":"getRemainingTime","vt":"str"},{"t":"eq","v":"deleteAlarm","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":540,"wires":[["63358dcc.9d9aec"],["9af29381.ddc3b8"],["a9c43c9f.1398"],["d41d0f76.693e68"]]},{"id":"9af29381.ddc3b8","type":"function","z":"7087edf3.06b33c","name":"build insert statement","func":"date = new Date();\n\n\nif( !msg.slots.timer_hour )\n    msg.slots.timer_hour = 0;\n    \nif( !msg.slots.timer_minute )\n    msg.slots.timer_minute = 0;\n    \nif( !msg.slots.timer_second )\n    msg.slots.timer_second = 0;\n\ndate.setHours((date.getHours()) + msg.slots.timer_hour);\ndate.setMinutes(date.getMinutes() + msg.slots.timer_minute);\ndate.setSeconds(date.getSeconds() + msg.slots.timer_second);\n\nif(msg.slots.timer_hour == 1) hourStr = \"eine Stunde\";\nelse hourStr = msg.slots.timer_hour + \"Stunden\";\n\nif(msg.slots.timer_minute == 1) minuteStr = \"eine Minute\";\nelse minuteStr = msg.slots.timer_minute + \"Minuten\";\n\nif(msg.slots.timer_second == 1) secondStr = \"eine Sekunde\";\nelse secondStr = msg.slots.timer_second + \"Sekunden\";\nstr = \"\";\n\nif (msg.slots.timer_hour != 0) str =  hourStr;\nif (msg.slots.timer_minute != 0) str = str + minuteStr;\nif (msg.slots.timer_second != 0) str = str + secondStr;\n\nif (msg.slots.notification_reason!=undefined){\nreturn msg = {  topic: \"INSERT INTO timer (time, alarm, notification) VALUES (datetime('\" + date.getFullYear() + \"-\" + ('0' + (date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + date.getDate()).slice(-2) + \" \"+ ('0' + date.getHours()).slice(-2) + \":\" + ('0' + date.getMinutes()).slice(-2) + \":\" + ('0' + date.getSeconds()).slice(-2) + \"'), 0, '\" +msg.slots.notification_reason+\"' );\",\n                notification: \"Teimer gestellt für \" + str + \"mit dem Grund\" + msg.slots.notification_reason };\n}else{\nreturn msg = {  topic: \"INSERT INTO timer (time, alarm, notification) VALUES (datetime('\" + date.getFullYear() + \"-\" + ('0' + (date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + date.getDate()).slice(-2) + \" \"+ ('0' + date.getHours()).slice(-2) + \":\" + ('0' + date.getMinutes()).slice(-2) + \":\" + ('0' + date.getSeconds()).slice(-2) + \"'), 0,' ');\",\n                notification: \"Teimer gestellt für \" + str };\n}\n","outputs":1,"noerr":0,"initialize":"var date;\nvar str;\n\nvar hourStr;\nvar minuteStr;\nvar secondStr;","finalize":"","libs":[],"x":460,"y":460,"wires":[["9e6c06a1.b3b8b8"]]},{"id":"2068436.bc1f6bc","type":"switch","z":"7087edf3.06b33c","name":"check if alarm or timer","property":"alarm","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":240,"wires":[["551d232.039305c"],["ce27bbd5.988d68"]]},{"id":"a9c43c9f.1398","type":"function","z":"7087edf3.06b33c","name":"build select statement","func":"return msg = {topic: \"SELECT timer_id, strftime('%H',min(time)) as hour, strftime('%M',min(time)) as minute, strftime('%S',min(time)) as second, strftime('%d',min(time)) as day, strftime('%m',min(time)) as month, strftime('%Y',min(time)) as year FROM timer WHERE alarm = 0;\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["bb7ea1b1.0845d8"]]},{"id":"bb7ea1b1.0845d8","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":500,"wires":[["4374d28d.207b4c"]]},{"id":"4374d28d.207b4c","type":"function","z":"7087edf3.06b33c","name":"check remaining time","func":"if(msg.payload[0].timer_id == null) return msg = {notification: \"Keine aktiven Teimer vorhanden.\"};\n\ncurrentDate = new Date();\ncurrentDate.setMilliseconds(0);\n\ntimerDate = new Date(msg.payload[0].year, (msg.payload[0].month - 1), msg.payload[0].day, (msg.payload[0].hour - 1), msg.payload[0].minute, msg.payload[0].second);\ntimerDate.setMilliseconds(0);\n\ndiffDate = new Date(timerDate - currentDate);\n\nif(msg.payload[0].hour == 1) hourStr = \" Stunde, \";\nelse hourStr = \" Stunden, \";\n\nif(msg.payload[0].minute == 1) minuteStr = \" Minute und \";\nelse minuteStr = \" Minuten und \";\n\nif(msg.payload[0].second == 1) secondStr = \" Sekunde.\";\nelse secondStr = \" Sekunden.\";\n\nreturn msg = {notification: \"Nächster Teimer in \" + diffDate.getHours() + hourStr + diffDate.getMinutes() + minuteStr + diffDate.getSeconds() + secondStr};","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar timerDate;\nvar diffDate;","finalize":"","libs":[],"x":920,"y":500,"wires":[["4f030fba.f4049"]]},{"id":"63358dcc.9d9aec","type":"function","z":"7087edf3.06b33c","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif (msg.slots.notification_reason==undefined) timerReason = \" \";\nelse timerReason = msg.slots.notification_reason;\n    \nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate,\n                    notification_reason: timerReason\n    };\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate,\n                    notification_reason: timerReason\n    };\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;\nvar timerReason;","finalize":"","libs":[],"x":440,"y":380,"wires":[["588afe35.3eaf38"]]},{"id":"588afe35.3eaf38","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":380,"wires":[["11085b76.33e10d"]]},{"id":"11085b76.33e10d","type":"function","z":"7087edf3.06b33c","name":"build insert statement","func":"currentDate = new Date();\n\nif(msg.payload[0] != null) {\n    return msg = {  notification: \"Wecker für diese Uhrzeit ist bereits vorhanden.\"};\n    \n} else if(msg.date.getDate() == currentDate.getDate()) {\n    \n    if (msg.notification_reason==\" \"){\n        return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                    notification: \"Wecker gestellt für heute um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() };\n    }else{\n        return msg = {  topic: \"INSERT INTO timer (time, alarm, notification) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1, '\" +msg.notification_reason+\"');\",\n                    notification: \"Wecker gestellt für heute um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \" Mit dem Grund\" + msg.notification_reason};\n    }\n                    \n} else {\n    if (msg.notification_reason==\" \"){\n        return msg = {  topic: \"INSERT INTO timer (time, alarm) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1);\",\n                        notification: \"Wecker gestellt für morgen um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() };\n    } else {\n        return msg = {  topic: \"INSERT INTO timer (time, alarm, notification) VALUES (datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"'), 1, '\" +msg.notification_reason+\"');\",\n                        notification: \"Wecker gestellt für morgen um \" + msg.date.getHours() + \" Uhr \" + msg.date.getMinutes() + \" Mit dem Grund\" + msg.notification_reason};\n    }\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","libs":[],"x":920,"y":360,"wires":[["4f030fba.f4049","1647d09f.faa197"]]},{"id":"d41d0f76.693e68","type":"function","z":"7087edf3.06b33c","name":"build select statement","func":"currentDate = new Date();\nalarmDate = new Date();\n\ncurrentDate.setHours(currentDate.getHours());\n\nif( !msg.slots.alarm_hour )\n    msg.slots.alarm_hour = 0;\n    \nif( !msg.slots.alarm_minute )\n    msg.slots.alarm_minute = 0;\n\nalarmDate.setHours(msg.slots.alarm_hour);\nalarmDate.setMinutes(msg.slots.alarm_minute);\n\nif(alarmDate > currentDate) {\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n} else {\n    alarmDate.setDate(alarmDate.getDate() + 1);\n    return msg = {  topic: \"SELECT timer_id, strftime('%H',time) as hour, strftime('%M',time) as minute, strftime('%S',time) as second, strftime('%d',time) as day, strftime('%m',time) as month, strftime('%Y',time) as year, alarm FROM timer WHERE time = datetime('\" + alarmDate.getFullYear() + \"-\" + ('0' + (alarmDate.getMonth() + 1)).slice(-2) + \"-\" + ('0' + alarmDate.getDate()).slice(-2) + \" \"+ ('0' + alarmDate.getHours()).slice(-2) + \":\" + ('0' + alarmDate.getMinutes()).slice(-2) + \"');\",\n                    date: alarmDate};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;\nvar alarmDate;","finalize":"","libs":[],"x":460,"y":540,"wires":[["3972c659.46184a"]]},{"id":"3972c659.46184a","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":680,"y":560,"wires":[["18afee30.952062"]]},{"id":"18afee30.952062","type":"function","z":"7087edf3.06b33c","name":"build delete statement","func":"currentDate = new Date();\n\nif(msg.payload[0] == null) {\n    return msg = {  notification: \"Es wurde kein Wecker für diese Uhrzeit gestellt.\"};\n    \n} else {\n    return msg = {  topic: \"DELETE FROM timer WHERE time = datetime('\" + msg.date.getFullYear() + \"-\" + ('0' + (msg.date.getMonth() + 1)).slice(-2) + \"-\" + ('0' + msg.date.getDate()).slice(-2) + \" \"+ ('0' + msg.date.getHours()).slice(-2) + \":\" + ('0' + msg.date.getMinutes()).slice(-2) + \"');\",\n                    notification: \"Wecker gelöscht.\"};\n}","outputs":1,"noerr":0,"initialize":"var currentDate;","finalize":"","libs":[],"x":920,"y":560,"wires":[["4f030fba.f4049","d010efd1.c057e"]]},{"id":"d010efd1.c057e","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":1180,"y":560,"wires":[[]]},{"id":"9e6c06a1.b3b8b8","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":880,"y":440,"wires":[["4f030fba.f4049"]]},{"id":"e6cf8ba7.592848","type":"sqlite","z":"7087edf3.06b33c","mydb":"7ffb752e.52a1bc","sqlquery":"msg.topic","sql":"","name":"send statement to db","x":1380,"y":260,"wires":[[]]},{"id":"b7c1e54e.f84ac8","type":"websocket in","z":"7087edf3.06b33c","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":60,"y":540,"wires":[["c2f96155.0480e8"]]},{"id":"c25dafd2.c458a8","type":"change","z":"7087edf3.06b33c","name":"set notification as payload for TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"notification","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":460,"wires":[["b69b36f4.035508"]]},{"id":"e7e75cff.86451","type":"function","z":"7087edf3.06b33c","name":"start radio alarm","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":160,"wires":[["f7d73888.0c81a","6dc5b312.a65f2c"]]},{"id":"6dc5b312.a65f2c","type":"function","z":"7087edf3.06b33c","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":280,"wires":[["f7d73888.0c81a"]]},{"id":"f7d73888.0c81a","type":"mpd out","z":"7087edf3.06b33c","name":"","topic":"","server":"f0cfe086.58cca","x":2080,"y":340,"wires":[["1011e255.51327e"]]},{"id":"ccd0898f.963e7","type":"mpd out","z":"7087edf3.06b33c","name":"","topic":"","server":"f0cfe086.58cca","x":2780,"y":680,"wires":[["a5ee7200.3c0dd8"]]},{"id":"a5ee7200.3c0dd8","type":"delay","z":"7087edf3.06b33c","name":"Timer automatisch abschalten nach 6 sek","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3040,"y":680,"wires":[["38ae96b5.aee142"]]},{"id":"b69b36f4.035508","type":"http request","z":"7087edf3.06b33c","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1510,"y":460,"wires":[[]]},{"id":"1e4f679d.f41ff8","type":"function","z":"7087edf3.06b33c","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3430,"y":840,"wires":[["189a6a9e.dc3b95"]]},{"id":"189a6a9e.dc3b95","type":"mpd out","z":"7087edf3.06b33c","name":"","topic":"","server":"f0cfe086.58cca","x":3600,"y":720,"wires":[[]]},{"id":"d86ac644.f80128","type":"function","z":"7087edf3.06b33c","name":"start radio alarm","func":"return msg = {payload : \"load radiostations\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":640,"wires":[["ccd0898f.963e7","d1ba8c0d.b39548"]]},{"id":"38ae96b5.aee142","type":"function","z":"7087edf3.06b33c","name":"stop radio alarm","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":720,"wires":[["1e4f679d.f41ff8","189a6a9e.dc3b95"]]},{"id":"d1ba8c0d.b39548","type":"function","z":"7087edf3.06b33c","name":"on","func":"return msg = {payload : \"play\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":800,"wires":[["ccd0898f.963e7"]]},{"id":"ce27bbd5.988d68","type":"function","z":"7087edf3.06b33c","name":"timer done","func":"\nif (msg.notification_reason==\" \"){\n    return {payload: \"Ein Teimer ist abgelaufen.\"};\n}else {\n    return {payload: \"Ein Teimer mit dem Grund\"+ msg.notification_reason +\" ist abgelaufen.\"};  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":480,"wires":[["e86ba323.7cded8"]]},{"id":"e86ba323.7cded8","type":"http request","z":"7087edf3.06b33c","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":2190,"y":560,"wires":[["d86ac644.f80128"]]},{"id":"a00f8d4b.8d48e","type":"http request","z":"2abac43b.73256c","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":2130,"y":520,"wires":[[]]},{"id":"a01ed084.e2f24","type":"function","z":"2abac43b.73256c","name":"","func":"if (Math.round(msg.payload.main.feels_like)==Math.round(msg.payload.main.temp)){\nmsg = {payload: \"Das Wetter in \" + msg.payload.name + \" ist zur Zeit \" +  msg.payload.weather[0].description + \" , bei \" + Math.round(msg.payload.main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.main.humidity + \" % und die Windstärke beträgt\" + msg.payload.wind.speed };\n} else {\nmsg = {payload: \"Das Wetter in \" + msg.payload.name + \" ist zur Zeit \" +  msg.payload.weather[0].description + \" , bei \" + Math.round(msg.payload.main.temp) + \" Grad die sich anfühlen wie\"+ Math.round(msg.payload.main.feels_like) +\" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.main.humidity + \" % und die Windstärke beträgt\" + msg.payload.wind.speed };    \n}\nreturn msg;\n\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":460,"wires":[["a00f8d4b.8d48e"]]},{"id":"f23cbdc3.bec3c","type":"function","z":"2abac43b.73256c","name":"","func":"var time = msg.payload.sys.sunrise;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.name + \" geht um \" + hours + \" Uhr\" + minutes + \" auf.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":500,"wires":[["a00f8d4b.8d48e"]]},{"id":"17b28dcc.7bc6a2","type":"function","z":"2abac43b.73256c","name":"","func":"var time = msg.payload.sys.sunset;\nvar date = new Date(time * 1000);\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nmsg = {payload: \"Die Sonne in \" + msg.payload.name + \" geht um \" + hours + \" Uhr\" + minutes + \" unter.\"};\nreturn msg;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":540,"wires":[["a00f8d4b.8d48e"]]},{"id":"fea5ccb7.527d","type":"function","z":"2abac43b.73256c","name":"","func":"\nvar days = [\"Sonntag\", \"Montag\", \"Dienstag\", \"Mittwoch\", \"Donnerstag\", \"Freitag\", \"Samstag\"];\nvar today = new Date();\nvar returnMsg = \"Hier ist das Wetter für die kommenden Tage in \" + msg.slots.city + \". \";\nvar i = 0;\nfor (x of msg.payload.daily) {\n   y = new Date(x.dt * 1000); \n   if (y.getDay() != today.getDay()) {\n       returnMsg = returnMsg + days[y.getDay()] + \" \" + x.weather[0].description + \", bei \" + Math.round(x.temp.day) + \"Grad. \";\n   }\n}\n\nmsg = {payload: returnMsg};\n//msg = {payload: \"Test: \" + today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ \" \" + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds()};\nreturn msg;\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.location.city + \": \" +  msg.payload[0].weather[0].description + \", bei \" + Math.round(msg.payload[0].main.temp) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload[0].main.humidity + \" %.\"};\nreturn msg;\n\n\n\n\n/*\nmsg = {payload: \"Hier ist das Wetter für \" + msg.payload.location + \": \" +  msg.payload.detail + \", bei \" + Math.round(msg.payload.tempc) + \" Grad. Die Luftfeuchtigkeit beträgt: \" + msg.payload.humidity + \" %.\"};\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":580,"wires":[["a00f8d4b.8d48e"]]},{"id":"fdad25f8.7ca62","type":"function","z":"2abac43b.73256c","name":"get coordinates for city","func":"msg.url = \"http://open.mapquestapi.com/geocoding/v1/address?key=\"+ msg.MQKey+\"&location=\" + msg.location.city + \",DE\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":660,"wires":[["a188fe75.c0825"]]},{"id":"a188fe75.c0825","type":"http request","z":"2abac43b.73256c","name":"request to api to get coordinates","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1630,"y":660,"wires":[["9d5db84b.ed6ba"]]},{"id":"9d5db84b.ed6ba","type":"change","z":"2abac43b.73256c","name":"set coordinates","rules":[{"t":"move","p":"payload.results[0].locations[0].latLng.lat","pt":"msg","to":"location.lat","tot":"msg"},{"t":"move","p":"payload.results[0].locations[0].latLng.lng","pt":"msg","to":"location.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":720,"wires":[["a19ba0aecc4f02a9"]]},{"id":"409f0654.9c608","type":"switch","z":"2abac43b.73256c","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetWeatherInfo","vt":"str"},{"t":"eq","v":"GetSunriseInfo","vt":"str"},{"t":"eq","v":"GetSunsetInfo","vt":"str"},{"t":"eq","v":"GetWeeklyWeatherInfo","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1650,"y":480,"wires":[["92cfef26.5b5658"],["78b2ba0c.1ef8dc"],["3edd5144.a58fb6"],["fdad25f8.7ca62"]]},{"id":"7987fd8a.386cfc","type":"websocket in","z":"2abac43b.73256c","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":60,"y":380,"wires":[["6a7da74f.d603"]]},{"id":"92cfef26.5b5658","type":"function","z":"2abac43b.73256c","name":"get url","func":"msg.url = \"api.openweathermap.org/data/2.5/weather?q=\"+ msg.location.city + \",de&appid=\" + msg.OWKey + \"&units=metric&lang=de\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":220,"wires":[["3887dfa.592dda"]]},{"id":"26797e9.1e18b82","type":"function","z":"2abac43b.73256c","name":"Switch-Case-Slots","func":"const umlautMap = {\n  '\\u00dc': 'UE',\n  '\\u00c4': 'AE',\n  '\\u00d6': 'OE',\n  '\\u00fc': 'ue',\n  '\\u00e4': 'ae',\n  '\\u00f6': 'oe',\n  '\\u00df': 'ss',\n}\n\nfunction replaceUmlaute(str) {\n  return str\n    .replace(/[\\u00dc|\\u00c4|\\u00d6][a-z]/g, (a) => {\n      const big = umlautMap[a.slice(0, 1)];\n      return big.charAt(0) + big.charAt(1).toLowerCase() + a.slice(1);\n    })\n    .replace(new RegExp('['+Object.keys(umlautMap).join('|')+']',\"g\"),\n      (a) => umlautMap[a]\n    );\n}\n\n\nvar message = {\n    slots: { city: msg.location.city},\n    location: {\n        city: replaceUmlaute(msg.location.city),\n        country: \"de\"},\n    intent: msg.intent\n    \n    \n};\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":440,"wires":[["7771bdae22d1449c"]]},{"id":"63b98087.5ddda","type":"change","z":"2abac43b.73256c","name":"set city and country","rules":[{"t":"move","p":"slots.city","pt":"msg","to":"location.city","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"de","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":420,"wires":[["26797e9.1e18b82"]]},{"id":"78b2ba0c.1ef8dc","type":"function","z":"2abac43b.73256c","name":"get url","func":"msg.url = \"api.openweathermap.org/data/2.5/weather?q=\"+ msg.location.city + \",de&appid=\" + msg.OWKey + \"&units=metric&lang=de\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":280,"wires":[["a909ff38.96b148"]]},{"id":"3edd5144.a58fb6","type":"function","z":"2abac43b.73256c","name":"get url","func":"msg.url = \"api.openweathermap.org/data/2.5/weather?q=\"+ msg.location.city + \",de&appid=\" + msg.OWKey + \"&units=metric&lang=de\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":340,"wires":[["f03dc139.094da8"]]},{"id":"e39354c7.779668","type":"is online","z":"a65a3a94.635d98","name":"check for Internet","url":"","action":"3","x":570,"y":480,"wires":[["18c474f8.aca793"]]},{"id":"ad86088b.488de","type":"switch","z":"a65a3a94.635d98","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"StartRadio","vt":"str"},{"t":"eq","v":"StopRadio","vt":"str"},{"t":"eq","v":"NextRadio","vt":"str"},{"t":"eq","v":"PrevRadio","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":330,"y":480,"wires":[["e39354c7.779668"],["e39354c7.779668"],["e39354c7.779668"],["e39354c7.779668"]]},{"id":"18c474f8.aca793","type":"switch","z":"a65a3a94.635d98","name":"","property":"online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":480,"wires":[["37099153.cea5fe"],["da1c47bf.281a38"]]},{"id":"da1c47bf.281a38","type":"function","z":"a65a3a94.635d98","name":"","func":"msg = { payload: \"Ich kann das Radio leider nicht anmachen weil ich keine Internet Verbindung habe\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":540,"wires":[["66e8cfb7.ac7e"]]},{"id":"66e8cfb7.ac7e","type":"http request","z":"a65a3a94.635d98","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":540,"wires":[[]]},{"id":"2989699f.3ecf4e","type":"is online","z":"2abac43b.73256c","name":"check for Internet","url":"","action":"3","x":750,"y":440,"wires":[["4bdce6c2.1262f"]]},{"id":"4bdce6c2.1262f","type":"switch","z":"2abac43b.73256c","name":"","property":"online","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":440,"wires":[["63b98087.5ddda"],["f3cc4fb4.4241"]]},{"id":"f3cc4fb4.4241","type":"function","z":"2abac43b.73256c","name":"","func":"msg = { payload: \"Ich kann dir leider keine Auskunft geben weil ich keine Internetverbindung habe\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":540,"wires":[["8a6213f0.bf507"]]},{"id":"8a6213f0.bf507","type":"http request","z":"2abac43b.73256c","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":540,"wires":[[]]},{"id":"6b955ac.e921624","type":"websocket in","z":"86964d6.3cc53b","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":80,"y":300,"wires":[["88648a4f.4c0ad8"]]},{"id":"a41d16ba.61ed68","type":"template","z":"86964d6.3cc53b","name":"turn off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"OFF\"\n}","output":"json","x":1270,"y":380,"wires":[["d4774b2e.745628"]]},{"id":"728c4843.cc97d8","type":"template","z":"86964d6.3cc53b","name":"turn on","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"ON\"\n}","output":"json","x":1280,"y":220,"wires":[["d4774b2e.745628"]]},{"id":"d4774b2e.745628","type":"mqtt out","z":"86964d6.3cc53b","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1750,"y":300,"wires":[]},{"id":"88648a4f.4c0ad8","type":"switch","z":"86964d6.3cc53b","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"LightOn","vt":"str"},{"t":"eq","v":"LightOff","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":300,"wires":[["a20f7fc7.16a8b8"],["a20f7fc7.16a8b8"]]},{"id":"6a7da74f.d603","type":"switch","z":"2abac43b.73256c","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetWeatherInfo","vt":"str"},{"t":"eq","v":"GetSunriseInfo","vt":"str"},{"t":"eq","v":"GetSunsetInfo","vt":"str"},{"t":"eq","v":"GetWeeklyWeatherInfo","vt":"str"},{"t":"eq","v":"SetDefaultCity","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":210,"y":380,"wires":[["34a2ffc8.de595"],["34a2ffc8.de595"],["34a2ffc8.de595"],["34a2ffc8.de595"],["34a2ffc8.de595"]]},{"id":"34a2ffc8.de595","type":"function","z":"2abac43b.73256c","name":"","func":"var defaultcity = global.get('defaultcity',\"storeInFile\");\n\nif (msg.intent.name=='SetDefaultCity'){\n    defaultcity= msg.slots.city;\n    global.set('defaultcity', defaultcity, \"storeInFile\");\n    \n}else if (msg.slots.city == null){\n    msg.slots.city = defaultcity;\n}\nif (msg.slots.city != null){\n    return [ msg, ];\n}else return [,msg]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["be4b285d.370f1"],["6d31168f.b0ad28"]]},{"id":"be4b285d.370f1","type":"switch","z":"2abac43b.73256c","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetWeatherInfo","vt":"str"},{"t":"eq","v":"GetSunriseInfo","vt":"str"},{"t":"eq","v":"GetSunsetInfo","vt":"str"},{"t":"eq","v":"GetWeeklyWeatherInfo","vt":"str"},{"t":"eq","v":"SetDefaultCity","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":550,"y":360,"wires":[["2989699f.3ecf4e"],["2989699f.3ecf4e"],["2989699f.3ecf4e"],["2989699f.3ecf4e"],["12270b5d.3dc875"]]},{"id":"12270b5d.3dc875","type":"function","z":"2abac43b.73256c","name":"","func":"msg = { payload: \"Ich habe deinen Standort auf\" + msg.slots.city + \" gestellt\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":600,"wires":[["8a6213f0.bf507"]]},{"id":"6d31168f.b0ad28","type":"function","z":"2abac43b.73256c","name":"","func":"msg = { payload: \"Du hast noch keinen Standort hinterlegt. Sage zum Beispiel: Stelle Standort auf. und den Namen der Stadt um einen festzulegen..\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["8a6213f0.bf507"]]},{"id":"ffcd938e.58ed08","type":"websocket in","z":"427a7696.d6c7a8","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":60,"y":480,"wires":[["e527c7bd.637a98"]]},{"id":"fc806bfc.5b1b6","type":"switch","z":"427a7696.d6c7a8","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"AttentionOn","vt":"str"},{"t":"eq","v":"AttentionOff","vt":"str"},{"t":"eq","v":"AttentionReset","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":450,"y":480,"wires":[["c88a4c20.e30cd8"],["97a21a55.6cec3"],["348e860d623da55a"]]},{"id":"851e042d.a27c58","type":"mqtt in","z":"427a7696.d6c7a8","name":"","topic":"zigbee2mqtt/0x00158d0005432140","qos":"2","datatype":"auto","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":220,"y":120,"wires":[["404fd4b9.347c1c"]]},{"id":"97e3d19b.7869f8","type":"change","z":"427a7696.d6c7a8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"lightSafetyVar","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":340,"wires":[["e04dbfbf.663878","45efa916.322998"]]},{"id":"946ae4f3.08fb58","type":"change","z":"427a7696.d6c7a8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"lightSafetyVar","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":540,"wires":[["d3035d6e.a33668","6d87cfdc.0e61c8"]]},{"id":"404fd4b9.347c1c","type":"function","z":"427a7696.d6c7a8","name":"","func":"if (flow.get(\"attentionMode\")){\n    if ( msg.payload.includes(\"drop\")|| msg.payload.includes(\"vibration\")) {\n        return msg;\n    }\n}\n// ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":120,"wires":[["1e283bab.396864","5964b650.31a17"]]},{"id":"e04dbfbf.663878","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich passe jetzt auf\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":340,"wires":[["1e99988.9656968"]]},{"id":"1e99988.9656968","type":"http request","z":"427a7696.d6c7a8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":2050,"y":440,"wires":[[]]},{"id":"d3035d6e.a33668","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich passe nicht mehr auf\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":540,"wires":[["1e99988.9656968"]]},{"id":"3243b2c9.1a8e5e","type":"mqtt out","z":"427a7696.d6c7a8","name":"","topic":"zigbee2mqtt/0x00158d0005432140/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":970,"y":40,"wires":[]},{"id":"ec64ad60.2747c8","type":"template","z":"427a7696.d6c7a8","name":"set sensitivity","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"sensitivity\": \"middle\"\n    \n}","output":"json","x":650,"y":40,"wires":[["3243b2c9.1a8e5e"]]},{"id":"816c7dc1.f392a","type":"inject","z":"427a7696.d6c7a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":40,"wires":[["ec64ad60.2747c8"]]},{"id":"1e283bab.396864","type":"template","z":"427a7696.d6c7a8","name":"set red","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"#C90D0D\"},\n    \"brightness\":255\n}","output":"json","x":1110,"y":120,"wires":[["ec1d9f50.b2ff98"]]},{"id":"ec1d9f50.b2ff98","type":"mqtt out","z":"427a7696.d6c7a8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1330,"y":120,"wires":[]},{"id":"45efa916.322998","type":"template","z":"427a7696.d6c7a8","name":"set yellow","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"ffea00\"},\n    \"brightness\":160\n}","output":"json","x":1760,"y":260,"wires":[["85c96d50.fc8778"]]},{"id":"85c96d50.fc8778","type":"mqtt out","z":"427a7696.d6c7a8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1890,"y":260,"wires":[]},{"id":"6d87cfdc.0e61c8","type":"template","z":"427a7696.d6c7a8","name":"set off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"OFF\"\n}","output":"json","x":1770,"y":640,"wires":[["beace09c.8cd688"]]},{"id":"beace09c.8cd688","type":"mqtt out","z":"427a7696.d6c7a8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1990,"y":640,"wires":[]},{"id":"5964b650.31a17","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Erschütterung wurde erkannt.\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":180,"wires":[["10dca20d.c7dd7e"]]},{"id":"10dca20d.c7dd7e","type":"http request","z":"427a7696.d6c7a8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1330,"y":180,"wires":[[]]},{"id":"6810c3e3.34f8c4","type":"template","z":"427a7696.d6c7a8","name":"set yellow","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"ffea00\"}    ,\n    \"brightness\":160\n}","output":"json","x":1000,"y":640,"wires":[["fbe232a4.8b03b"]]},{"id":"fbe232a4.8b03b","type":"mqtt out","z":"427a7696.d6c7a8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1170,"y":700,"wires":[]},{"id":"aa53680c.9450d8","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ein Glück\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":780,"wires":[["f9d8304b.7daba8"]]},{"id":"f9d8304b.7daba8","type":"http request","z":"427a7696.d6c7a8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":900,"wires":[[]]},{"id":"ed4dcf5e.4681e8","type":"switch","z":"427a7696.d6c7a8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":340,"wires":[["97e3d19b.7869f8"],["67c3f5e6.ea3c1c"]]},{"id":"97a21a55.6cec3","type":"switch","z":"427a7696.d6c7a8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":500,"wires":[["abc280e5.0b5c68"],["946ae4f3.08fb58"]]},{"id":"abc280e5.0b5c68","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich war gerade gar nicht im Aufpassmodus\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":460,"wires":[["1e99988.9656968"]]},{"id":"67c3f5e6.ea3c1c","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich bin schon im Aufpassmodus Keine Sorge\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":420,"wires":[["1e99988.9656968"]]},{"id":"5fed8a5.89af5f4","type":"mqtt in","z":"16cf607c.7854c8","name":"","topic":"hermes/audioServer/maxmax/audioFrame","qos":"2","datatype":"auto","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":200,"y":200,"wires":[["f8beeaf.9042f18"]]},{"id":"98eb1ed8.14655","type":"function","z":"16cf607c.7854c8","name":"","func":"var sum = 0;\nvar mybuffer = msg.payload\nvar myTypedArray = new Int16Array(mybuffer);\nvar normalArray = [];\nnormalArray.push.apply(normalArray, myTypedArray);\n\nfor( i=0; i<2048; i++ ) {\n   sum += normalArray[i]*normalArray[i];\n}\nvar vu = Math.log10(sum) ; // log base 10\n\n//dbs = [20*log10( sqrt(mean(chunk**2)) ) for chunk in chunks]\nreturn msg = {loudness : vu};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":180,"wires":[["581444c3.9cbaa4"]]},{"id":"d4922fe4.de8fb8","type":"wav-headers","z":"16cf607c.7854c8","name":"","action":"del","channels":1,"samplerate":22050,"bitwidth":16,"x":970,"y":180,"wires":[["98eb1ed8.14655"],[]]},{"id":"581444c3.9cbaa4","type":"switch","z":"16cf607c.7854c8","name":"","property":"loudness","propertyType":"msg","rules":[{"t":"lte","v":"7.69","vt":"num"},{"t":"lte","v":"7.71","vt":"num"},{"t":"gt","v":"7.74","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1570,"y":200,"wires":[["8f045bed.c9e37"],["314f8554.5e519a"],["a3a59196.e03bb"]]},{"id":"f161223d.1238f","type":"template","z":"16cf607c.7854c8","name":"set red","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"#FF2E00\"},\n    \"brightness\":200\n}","output":"json","x":2290,"y":80,"wires":[["39dd9a7b.ec7cd6"]]},{"id":"39dd9a7b.ec7cd6","type":"mqtt out","z":"16cf607c.7854c8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":2510,"y":160,"wires":[]},{"id":"bf440e30.4319b8","type":"template","z":"16cf607c.7854c8","name":"set blue","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"#000CFA\"},\n    \"brightness\": 10\n}","output":"json","x":2300,"y":300,"wires":[["39dd9a7b.ec7cd6"]]},{"id":"f8beeaf.9042f18","type":"delay","z":"16cf607c.7854c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":120,"wires":[["11ad0931.4c1497"]]},{"id":"e2baaefe.5fa7a8","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"tooloud","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":280,"wires":[["bf440e30.4319b8"]]},{"id":"a3a59196.e03bb","type":"switch","z":"16cf607c.7854c8","name":"","property":"tooloud","propertyType":"flow","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":260,"wires":[["e2baaefe.5fa7a8"]]},{"id":"8f045bed.c9e37","type":"switch","z":"16cf607c.7854c8","name":"","property":"tooloud","propertyType":"flow","rules":[{"t":"neq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":120,"wires":[["26a72a1e.be6f8e"]]},{"id":"26a72a1e.be6f8e","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"tooloud","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":100,"wires":[["f161223d.1238f"]]},{"id":"314f8554.5e519a","type":"switch","z":"16cf607c.7854c8","name":"","property":"tooloud","propertyType":"flow","rules":[{"t":"neq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":160,"wires":[["b80edd0b.f57418"]]},{"id":"b80edd0b.f57418","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"tooloud","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":140,"wires":[["707e9fa9.5589c8"]]},{"id":"707e9fa9.5589c8","type":"template","z":"16cf607c.7854c8","name":"set violet","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"state\":\"ON\",\n    \"color\":{\"hex\":\"#DB1E51\"},\n    \"brightness\":100\n}","output":"json","x":2300,"y":140,"wires":[["39dd9a7b.ec7cd6"]]},{"id":"145884c9.4d030b","type":"websocket in","z":"16cf607c.7854c8","name":"rhasspy in","server":"5999adec.e962a4","client":"","x":120,"y":580,"wires":[["86d4effa.971178"]]},{"id":"1ed87970.b9ca9f","type":"switch","z":"16cf607c.7854c8","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SilenceOn","vt":"str"},{"t":"eq","v":"SilenceOff","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":580,"wires":[["8881f7a0.7e42e8"],["b75054c0.593b8"]]},{"id":"a77e7fb0.0ed5d","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"lightSafetyVar","pt":"global","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":480,"wires":[["a0fb482f.2a193"]]},{"id":"c69da2cd.cd13a","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"tooloud","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"lightSafetyVar","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":680,"wires":[["9e1fa036.952518"]]},{"id":"fa5d0fb7.77372","type":"switch","z":"16cf607c.7854c8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":500,"wires":[["a77e7fb0.0ed5d"],["8868ae9d.9df558"]]},{"id":"b75054c0.593b8","type":"switch","z":"16cf607c.7854c8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":640,"wires":[["de00762d.5e2c48"],["c69da2cd.cd13a"]]},{"id":"de00762d.5e2c48","type":"function","z":"16cf607c.7854c8","name":"","func":"msg = { payload: \"Ich war gerade gar nicht im Ruhemodus\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":600,"wires":[["960f0de1.3a3e38"]]},{"id":"8868ae9d.9df558","type":"function","z":"16cf607c.7854c8","name":"","func":"msg = { payload: \"Ich bin schon im Ruhemodus\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":560,"wires":[["960f0de1.3a3e38"]]},{"id":"960f0de1.3a3e38","type":"http request","z":"16cf607c.7854c8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1810,"y":580,"wires":[[]]},{"id":"11ad0931.4c1497","type":"switch","z":"16cf607c.7854c8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":740,"y":160,"wires":[["d4922fe4.de8fb8"]]},{"id":"84ad29bb.b9547","type":"mqtt out","z":"16cf607c.7854c8","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1870,"y":680,"wires":[]},{"id":"9e1fa036.952518","type":"template","z":"16cf607c.7854c8","name":"set off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"OFF\"\n}","output":"json","x":1650,"y":820,"wires":[["84ad29bb.b9547"]]},{"id":"a0fb482f.2a193","type":"function","z":"16cf607c.7854c8","name":"","func":"msg = { payload: \"psssst\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":480,"wires":[["960f0de1.3a3e38"]]},{"id":"e527c7bd.637a98","type":"switch","z":"427a7696.d6c7a8","name":"Check lightSafetyVar","property":"lightSafetyVar","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":240,"y":480,"wires":[["fc806bfc.5b1b6"],["fc806bfc.5b1b6"],["db2beaab.89f228"]]},{"id":"86d4effa.971178","type":"switch","z":"16cf607c.7854c8","name":"Check lightSafetyVar","property":"lightSafetyVar","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":580,"wires":[["1ed87970.b9ca9f"],["1ed87970.b9ca9f"],["380099b9.a90f1e"]]},{"id":"1aaecf2c.f30091","type":"http request","z":"16cf607c.7854c8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":700,"wires":[[]]},{"id":"4a510d51.08d9e4","type":"function","z":"16cf607c.7854c8","name":"","func":"msg = { payload: \"Ich kann nicht in den Ruhemodus wechseln während ich im Aufpassmodus bin\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":700,"wires":[["1aaecf2c.f30091"]]},{"id":"380099b9.a90f1e","type":"switch","z":"16cf607c.7854c8","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SilenceOn","vt":"str"},{"t":"eq","v":"SilenceOff","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":680,"wires":[["4a510d51.08d9e4"],["4a510d51.08d9e4"]]},{"id":"f14c3250.a49138","type":"http request","z":"427a7696.d6c7a8","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":920,"wires":[[]]},{"id":"9cf060ab.c3ca7","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich kann nicht in den Aufpassmodus wechseln während ich im Ruhemodus bin\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":840,"wires":[["f14c3250.a49138"]]},{"id":"db2beaab.89f228","type":"switch","z":"427a7696.d6c7a8","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"AttentionOn","vt":"str"},{"t":"eq","v":"AttentionOff","vt":"str"},{"t":"eq","v":"AttentionReset","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":370,"y":840,"wires":[["9cf060ab.c3ca7"],["9cf060ab.c3ca7"],["9cf060ab.c3ca7"]]},{"id":"f362a22b.fecde8","type":"switch","z":"427a7696.d6c7a8","name":"","property":"lampConnection","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":340,"wires":[["ed4dcf5e.4681e8"],["ec743f7a.a0d86"]]},{"id":"ec743f7a.a0d86","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich kann nicht in den Aufpassmodus gehen, weil keine Lampe verbunden ist. \"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":440,"wires":[["1e99988.9656968"]]},{"id":"8881f7a0.7e42e8","type":"switch","z":"16cf607c.7854c8","name":"","property":"lampConnection","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":440,"wires":[["fa5d0fb7.77372"],["54ddc151.b37ab8"]]},{"id":"54ddc151.b37ab8","type":"function","z":"16cf607c.7854c8","name":"","func":"msg = { payload: \"Ich kann nicht in den Ruhemodus gehen, weil keine Lampe verbunden ist. \"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":580,"wires":[["960f0de1.3a3e38"]]},{"id":"c88a4c20.e30cd8","type":"switch","z":"427a7696.d6c7a8","name":"","property":"sensorConnection","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":340,"wires":[["f362a22b.fecde8"],["346f1c5c.992bd4"]]},{"id":"346f1c5c.992bd4","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"Ich kann nicht in den Aufpassmodus gehen, weil kein Erschütterungssensor verbunden ist. Vielleicht müssen die Batterien gewechselt werden?\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["1e99988.9656968"]]},{"id":"e51c4b67.1f577","type":"inject","z":"1a262e7f.a9d812","name":"Started!","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":510,"y":260,"wires":[["aabfbe1a.7812e8"]]},{"id":"aabfbe1a.7812e8","type":"change","z":"1a262e7f.a9d812","name":"","rules":[{"t":"set","p":"lightSafetyVar","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":260,"wires":[["c3a86e99.b6747","f4e0f9f5.177c"]]},{"id":"8457af68.380d7","type":"mqtt out","z":"1a262e7f.a9d812","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1470,"y":380,"wires":[]},{"id":"c3a86e99.b6747","type":"template","z":"1a262e7f.a9d812","name":"set off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"OFF\"\n}","output":"json","x":1290,"y":400,"wires":[["8457af68.380d7"]]},{"id":"584a4444.42c9c4","type":"inject","z":"427a7696.d6c7a8","name":"Started!","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":120,"y":1200,"wires":[["4ec46ca5.c6a66c"]]},{"id":"4ec46ca5.c6a66c","type":"change","z":"427a7696.d6c7a8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1200,"wires":[[]]},{"id":"f181adbb.13a538","type":"inject","z":"16cf607c.7854c8","name":"Started!","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":920,"wires":[["97afe905.957ba"]]},{"id":"97afe905.957ba","type":"change","z":"16cf607c.7854c8","name":"","rules":[{"t":"set","p":"attentionMode","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"tooloud","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":920,"wires":[[]]},{"id":"f4e0f9f5.177c","type":"function","z":"1a262e7f.a9d812","name":"StartMessage","func":"msg = { payload: \"Hallo, ich bin MaksMaks. Sag meinen Namen und wie ich dir helfen kann. Danke\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":180,"wires":[["dad9f56f.f7da38"]]},{"id":"dad9f56f.f7da38","type":"http request","z":"1a262e7f.a9d812","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":180,"wires":[[]]},{"id":"a5cea870.d251c","type":"mqtt in","z":"be3928dd.7d20d","name":"","topic":"zigbee2mqtt/0x00158d000388093c/availability","qos":"2","datatype":"auto","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":290,"y":260,"wires":[["b1fcd27c.51a0e8"]]},{"id":"8fac9585.c4d1e","type":"change","z":"be3928dd.7d20d","name":"","rules":[{"t":"set","p":"lampConnection","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["a7eb25ae.dfb66"]]},{"id":"b1fcd27c.51a0e8","type":"switch","z":"be3928dd.7d20d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"eq","v":"offline","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":660,"y":260,"wires":[["8fac9585.c4d1e"],["7eb1d46e.57b0b4"]]},{"id":"7eb1d46e.57b0b4","type":"change","z":"be3928dd.7d20d","name":"","rules":[{"t":"set","p":"lampConnection","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[[]]},{"id":"c7ab353.72ee648","type":"mqtt in","z":"be3928dd.7d20d","name":"","topic":"zigbee2mqtt/0x00158d0005432140/availability","qos":"2","datatype":"auto","broker":"4acfd80d.a48d88","nl":false,"rap":true,"rh":0,"x":290,"y":420,"wires":[["4ec40bf.d612774"]]},{"id":"67e5fdd0.8430e4","type":"change","z":"be3928dd.7d20d","name":"","rules":[{"t":"set","p":"sensorConnection","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":400,"wires":[[]]},{"id":"4ec40bf.d612774","type":"switch","z":"be3928dd.7d20d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"eq","v":"offline","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":660,"y":420,"wires":[["67e5fdd0.8430e4"],["c4d6618a.72c028"]]},{"id":"c4d6618a.72c028","type":"change","z":"be3928dd.7d20d","name":"","rules":[{"t":"set","p":"sensorConnection","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[[]]},{"id":"1d73fde4.2f6292","type":"switch","z":"86964d6.3cc53b","name":"Check lightSafetyVar","property":"lightSafetyVar","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":840,"y":300,"wires":[["4b8f8a78.4df69c"],["d2c34544.a60cd"],["70fd0f.8f70caf"]]},{"id":"d2c34544.a60cd","type":"function","z":"86964d6.3cc53b","name":"","func":"msg = { payload: \"Ich kann das Licht nicht ändern während ich im Aufpassmodus bin\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":540,"wires":[["a1ee08f3.806b48"]]},{"id":"a1ee08f3.806b48","type":"http request","z":"86964d6.3cc53b","name":"tts","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":740,"wires":[[]]},{"id":"4b8f8a78.4df69c","type":"switch","z":"86964d6.3cc53b","name":"check intent","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"LightOn","vt":"str"},{"t":"eq","v":"LightOff","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1090,"y":300,"wires":[["728c4843.cc97d8"],["a41d16ba.61ed68"]]},{"id":"a20f7fc7.16a8b8","type":"switch","z":"86964d6.3cc53b","name":"Check lamp connection","property":"lampConnection","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":300,"wires":[["1d73fde4.2f6292"],["d07652f9.cc1548"]]},{"id":"d07652f9.cc1548","type":"function","z":"86964d6.3cc53b","name":"","func":"msg = { payload: \"Ich kann die Lampe nicht erreichen. Vielleicht ist sie nicht verbunden oder ausgeschaltet\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["a1ee08f3.806b48"]]},{"id":"70fd0f.8f70caf","type":"function","z":"86964d6.3cc53b","name":"","func":"msg = { payload: \"Ich kann das Licht nicht ändern während ich im Ruhemodus bin\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["a1ee08f3.806b48"]]},{"id":"551d232.039305c","type":"function","z":"7087edf3.06b33c","name":"timer done","func":"\nif (msg.notification_reason==\" \"){\n    return {payload: \"Ein Wecker ist abgelaufen.\"};\n}else{\n    return {payload: \"Ein Wecker mit dem Grund \"+ msg.notification_reason +\" ist abgelaufen.\"};  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":100,"wires":[["984b4e4f.1c1748"]]},{"id":"984b4e4f.1c1748","type":"http request","z":"7087edf3.06b33c","name":"TTS","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://rhasspy:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":100,"wires":[["e7e75cff.86451"]]},{"id":"1011e255.51327e","type":"delay","z":"7087edf3.06b33c","name":"Wecker automatisch abschalten nach 30 sek","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2390,"y":340,"wires":[["bb3bc318.813708"]]},{"id":"17125b3c.d4c18d","type":"function","z":"7087edf3.06b33c","name":"clear","func":"return msg = {payload : \"clear\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2830,"y":500,"wires":[["2e08bd72.b8e2ea"]]},{"id":"2e08bd72.b8e2ea","type":"mpd out","z":"7087edf3.06b33c","name":"","topic":"","server":"f0cfe086.58cca","x":3000,"y":380,"wires":[[]]},{"id":"bb3bc318.813708","type":"function","z":"7087edf3.06b33c","name":"stop radio alarm","func":"return msg = {payload : \"stop\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":380,"wires":[["17125b3c.d4c18d","2e08bd72.b8e2ea"]]},{"id":"1647d09f.faa197","type":"switch","z":"7087edf3.06b33c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":300,"wires":[["e6cf8ba7.592848"]]},{"id":"eb8383a7.b7c1a","type":"mqtt out","z":"be3928dd.7d20d","name":"lamp","topic":"zigbee2mqtt/0x00158d000388093c/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4acfd80d.a48d88","x":1450,"y":240,"wires":[]},{"id":"a7eb25ae.dfb66","type":"template","z":"be3928dd.7d20d","name":"set off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"color\":{\"hex\":\"#23c56f\"},\n    \"state\":\"OFF\"\n}","output":"json","x":1250,"y":240,"wires":[["eb8383a7.b7c1a"]]},{"id":"f03dc139.094da8","type":"http request","z":"2abac43b.73256c","name":"request to openweathermap","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1950,"y":340,"wires":[["17b28dcc.7bc6a2"]]},{"id":"3887dfa.592dda","type":"http request","z":"2abac43b.73256c","name":"request to openweathermap","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1950,"y":220,"wires":[["a01ed084.e2f24"]]},{"id":"a909ff38.96b148","type":"http request","z":"2abac43b.73256c","name":"request to openweathermap","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1940,"y":280,"wires":[["f23cbdc3.bec3c"]]},{"id":"7771bdae22d1449c","type":"credentials","z":"2abac43b.73256c","name":"APIKeys","props":[{"value":"OWKey","type":"msg"},{"value":"MQKey","type":"msg"}],"x":1480,"y":480,"wires":[["409f0654.9c608"]]},{"id":"a19ba0aecc4f02a9","type":"function","z":"2abac43b.73256c","name":"get url","func":"msg.url = \"https://api.openweathermap.org/data/2.5/onecall?lat=\"+msg.location.lat+\"&lon=\"+msg.location.lon+\"&appid=\"+ msg.OWKey + \"&units=metric&lang=de\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":720,"wires":[["45a5817e1a0b2af9"]]},{"id":"45a5817e1a0b2af9","type":"http request","z":"2abac43b.73256c","name":"request to openweathermap","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2140,"y":720,"wires":[["fea5ccb7.527d"]]},{"id":"348e860d623da55a","type":"switch","z":"427a7696.d6c7a8","name":"","property":"attentionMode","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":560,"wires":[["6810c3e3.34f8c4","aa53680c.9450d8"],["0fecbdfb7ce6bfee"]]},{"id":"0fecbdfb7ce6bfee","type":"function","z":"427a7696.d6c7a8","name":"","func":"msg = { payload: \"ein Glück aber ich habe gar nicht aufgepasst\"  };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":800,"wires":[["f9d8304b.7daba8"]]},{"id":"c3250662eda56baf","type":"inject","z":"be3928dd.7d20d","name":"Started","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":640,"y":340,"wires":[["7eb1d46e.57b0b4","c4d6618a.72c028"]]}]